/* for .modal */
@media (max-width: 600px) {
    .modal {
        width: 100%;
    }
}

@media (max-width: 1023px) and (min-width: 600px) {
    .modal {
        width: 75%;
    }
}

/* PC */
@media (min-width: 1024px) {

}
/* Tablet and mobile devices */
@media (max-width: 1024px) {

    #nav .subnav a {
        padding: 15px 16px;
    }

    .btn{
        padding: 16px;
    }

    .contact-form input:not(input[type="submit"]) {
        padding: 15px;
    }

    .contact-info{
        line-height: 2;
    }
    
    .icon-social li{
        font-size: 28px;
        margin: 0 8px;
    }

    .footer-content > p {
        display: inline-block;
    }

    .footer-content > p > a{
        padding: 16px 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .s-mt-16{
        margin-top: 16px !important;
    }

    .s-mt-8{
        margin-top:8px !important;
    }

    .s-full-width,
    .s-col-full {
        width: 100%;
    }

    #header {
        overflow: hidden;
    }

    #header #search-btn {
        display: none;
    }

    #nav,
    #nav>li>a,
    #nav>li {
        display: block;
    }

    #nav>li:first-child,
    .mobile-menu {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav a {
        display: block;
        color: #fff;
        background-color: #000;
        padding: 15px 40px;
    }

    #content .member-img {
        width: 60%;
    }
}